
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<main>
    <div class="aspect-ratio-169">
        <img src="~/images/336290ace23e725e97fdd0ca1759b799.jpg" />
    </div>
    <div class="new_arrivals">
        <div class="container">
            <div class="text-center">
                <div class="section_title new_arrivals_title">
                    <h2>New Arrivals</h2>
                </div>
            </div>


            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting ">
                    <li class="grid_sorting_button active is-checked" data-filter="*"><a href="#">All</a> </li>
                    <li class="grid_sorting_button " data-filter=".women"><a href="#">Women's</a></li>
                    <li class="grid_sorting_button " data-filter=".accessories"><a href="#">Accessories</a></li>
                    <li class="grid_sorting_button " data-filter=".men"><a href="#">Men's</a></li>
                </ul>
            </div>


            <div class="row">
                <div class="col">
                    <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                        <!-- Product 1 -->

                        <div class="product-item men">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_1.png" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                                    <div class="product_price">$520.00<span>$590.00</span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 2 -->

                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_2.png" alt="">
                                </div>
                                <div class="favorite"></div>
                                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                                    <div class="product_price">$610.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 3 -->

                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_3.png" alt="">
                                </div>
                                <div class="favorite"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
                                    <div class="product_price">$120.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 4 -->

                        <div class="product-item accessories">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_4.png" alt="">
                                </div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                                    <div class="product_price">$410.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 5 -->
                        <div class="product-item accessories">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_5.png" alt="">
                                </div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                                    <div class="product_price">$410.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>


                        <!-- Product 7 -->

                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_7.png" alt="">
                                </div>
                                <div class="favorite"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                                    <div class="product_price">$610.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 8 -->

                        <div class="product-item accessories">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_8.png" alt="">
                                </div>
                                <div class="favorite"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
                                    <div class="product_price">$120.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 9 -->

                        <div class="product-item men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_9.png" alt="">
                                </div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                                    <div class="product_price">$410.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>

                        <!-- Product 10 -->

                        <div class="product-item men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="~/images/product_10.png" alt="">
                                </div>
                                <div class="favorite"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="~/styles/single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
                                    <div class="product_price">$180.00</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<style>
    .aspect-ratio-169 {
        display: block;
        position: relative;
        padding-top: 56.25%;
    }

        .aspect-ratio-169 img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin-top: 73px;
        }

    .aspect-ratio-169 {
        display: block;
        position: relative;
        padding-top: 56.25%;
    }

        .aspect-ratio-169 img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin-top: 73px;
            margin-bottom: 100px;
        }
    /*----*/
    .container {
        margin-top: 150px;
        
    }
    .text-center {
        text-align: center;
    }

    .new_arrivals_sorting {
        text-align: center; /* Center the content horizontally */
		margin-bottom:30px;
    }

    .arrivals_grid_sorting {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; /* Display the list items in a row */
        justify-content: center; /* Center the list items horizontally */
    }

    .grid_sorting_button {
        margin: 0 15px; /* Add spacing between the buttons */
    }

        /* Style for the active button (optional) */
        .grid_sorting_button.active a {
            font-weight: bold; /* Example styling for the active button */
        }

    .row {
        display: flex;
        justify-content: center;
    }

    .col {
        width: 80%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the column horizontally */
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute items equally in the row */
    }

    .product-item {
        width: calc(35% - 30px); /* 20% width with 20px spacing between items */
        margin-bottom: 20px; /* Add spacing between rows */
        box-sizing: border-box;
    }

    .product {
        border: 1px solid #ddd; /* Add border for better visualization */
        padding: 15px;
        text-align: center;
    }

    .product_image img {
        max-width: 100%; /* Ensure images don't exceed the container width */
        height: auto;
    }

    .product_info {
        margin-top: 10px;
    }

    .product_name {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .product_price {
        font-size: 14px;
        color: #333;
    }

    .red_button {
        margin-top: 10px;
    }

    /* Optional: Add hover effect */
    .product:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    /*add cart*/
    .product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product {
        position: relative;
    }

    .add_to_cart_button {
        margin-top: 10px; /* Adjust the margin as needed */
    }

        /* Optional: Style the button */
        .add_to_cart_button a {
            display: inline-block;
            padding: 10px 15px;
            background-color: #ff4d4d;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

            /* Optional: Style the button on hover */
            .add_to_cart_button a:hover {
                background-color: #e53e3e;
            }
</style>