
@{
    ViewBag.Title = "lifestyle";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main>
    <h1>LIFESTYLE</h1>
    <section class="content-top">
        <div class="content-top-left">
            <div class="content-top-left-item1">STORY</div>
            <div class="content-top-left-item2">
                Cách phối đồ đi chơi Noel giúp nàng trở nên cuốn hút trong mùa Giáng sinh
            </div>
            <div class="content-top-left-item3">
                Cuối năm là khoảng thời gian của rất nhiều lễ hội khác nhau từ Noel, Tết Dương Lịch, Tết Âm Lịch,... Những dịp lễ kể trên rất được các bạn nữ yêu thích bởi bạn có thể thỏa sức diện những bộ cánh đẹp đi chơi. Vậy các bạn có biết cách chọn phối đồ đi chơi N
            </div>
        </div>
        <div class="content-top-right">
            <img src="~/images/style1.png" alt="">
        </div>
    </section>
    <section class="content-bottom">
        <div class="content-bottom-item1">
            <div class="content-bottom-item1-img">
                <img src="~/images/style2.jpg" alt="">
            </div>
            <div class="content-bottom-item1-text">
                <p class="text1">
                    Thời tiết cuối năm đang đến gần cũng là khoảng thời gian lý tưởng để bạn thêm chút cảm hứng Thu – Đông vào tủ quần áo. Nếu yêu thích phong cách Parisian Chic, đừng bỏ qua những cách phối đồ đơn giản mà thanh lịch từ các quý cô nước Pháp.
                </p>
                <p class="text2">
                    Công thức diện đồ thanh lịch như quý cô Pháp
                </p>
            </div>
        </div>
        <div class="content-bottom-item2">
            <div class="content-bottom-item1-img">
                <img src="~/images/style3.jpg" alt="">
            </div>
            <div class="content-bottom-item1-text">
                <p class="text1">
                    Phong cách Y2K cùng loạt các thiết kế vào năm 2000 đang dần hot trở lại với phong cách thời trang hiện đại ngày nay. Vậy phong cách Y2K là gì? Những món đồ biểu tượng của thời trang Y2K? Hãy cùng IVY moda tìm hiểu qua những thông tin ngay sau đây nhé!
                </p>
                <p class="text2">Phong cách Y2K là gì? Hướng dẫn cách phối đồ chuẩn xu hướng thời trang Y2K</p>
            </div>
        </div>
        <div class="content-bottom-item3">
            <div class="content-bottom-item1-img">
                <img src="~/images/style4.jpg" alt="">
            </div>
            <div class="content-bottom-item1-text">
                <p class="text1">
                    Với sự kết hợp tinh tế giữa sự lịch lãm và quyến rũ, mẫu thời trang váy dài màu đen đi dạ hội không chỉ là biểu tượng của sự sang trọng mà còn là nguồn cảm hứng cho những người phụ nữ hiện đại. Chiếc váy được thiết kế với chất liệu cao cấp, ôm sát vòng cơ thể, tôn lên những đường cong quyến rũ một cách tinh tế.
                </p>
                <p class="text2">
                    Phong cách dạ hội quyến rũ,trang trọng, bí ấn
                </p>
            </div>
        </div>
    </section>
</main>

